:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-size: 14px;
  background-repeat: no-repeat;
  background: hsla(176, 61%, 87%, 1);
  background: linear-gradient(
    225deg,
    hsla(176, 61%, 87%, 1) 0%,
    hsla(150, 54%, 86%, 1) 50%,
    hsla(301, 68%, 84%, 1) 100%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(176, 61%, 87%, 1) 0%,
    hsla(150, 54%, 86%, 1) 50%,
    hsla(301, 68%, 84%, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    hsla(176, 61%, 87%, 1) 0%,
    hsla(150, 54%, 86%, 1) 50%,
    hsla(301, 68%, 84%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#caf2ef", endColorstr="#c9efdc", GradientType=1 );
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
